header img {
    width: 100%;
    height: auto;
}

body {
    max-width: 1000px;

}

header nav {
    display: block;
    align-items: center;
    border-radius: .25rem;
    border: 1px solid black;
    background-color: grey;
    text-align: center;
    padding: .5rem;

}

ul {
    list-style: none;
    text-align: center;
    margin: 0;
    margin-left: 0;
    padding-left: 0;
}

main section {
    border-radius: .25rem;
    border: 1px solid black;
    background-color: grey;
    text-align: center;
    padding: .5rem;

}
main {
    padding: .25rem;
}